body {
	max-width: 620px;
	margin: auto;
	font-family: sans-serif;
	font-size: 16px;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }

a {
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid;
}

th, td {
	padding: 3px;
}

.software-version {
	/* Commit hash version numbers should not stretch the page */
	word-wrap: break-word;
}

.software-properties {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.software-properties section {
	width: 50%;
}

.software-properties ul {
	padding-left: 0;
	list-style-type: none;
}

.blocked-host {
	word-wrap: break-word;
}

footer {
	font-size: 80%;
	text-align: right;
}
